
html {
  border: 0px none;
  width: 100%;
  height: 200%;
  background-color:#E4E66D;
}

body {
  background-color:#CCFFCC;
  border: 1px solid red;
  margin-top:10px;
  margin-left:10%;
  margin-right:10%;
  width: 80%;
  height:200%;
  max-height: 100%; 
}

.ui-dialog .ui-dialog-content { background: yellow; }

.ui-dialog.ui-widget-content { background: red; }

.ui-dialog, .ui-dialog-content {
 border:10px solid red;
 background-color: white !important;
 color: red;
}


.ui-dialog-titlebar {
 background-image: none;
 background-color: blue;
}


#ui-dialog-title-dialog {
 color: yellow !important;
 text-shadow: none;
}